/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/
*~
/app/config/parameters_white_mark_local.yml
/web/public/tmp/*.pdf
/web/uploads/*
/docker/logs/
/docker/volumes/
node_modules
web/uploads/cv/*.pdf
web/build/*
composer.lock