<div>
    Bonjour,

    La modification de votre Business Plan expire dans {{nbDays}} jours. 

    Le téléchargement du business plan restera disponible passé ce délai.

    Si vous souhaitez le modifier passé ce délai vous pouvais acheter un extension de délai dans votre espace personnel.

    L'équipe de Planoo.ai vous remercie pour votre confiance.
</div>
