<html>
    <body>
        <h5 class="flow-text center izy-color-primary-font">Votre Business Plan Expire dans {{nbDays}}</h5>
        <div>
            {% include "BPBundle:Emails:bp_expiration_reminder_content.html.twig" %}
        </div>
    </body>
</html>
