<header class="main-header">

    <!-- Logo -->
    <a href="{{ path('back_homepage') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>PL</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Planoo</b></span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="{{ path('user_my_projects') }}"><i class="fa fa-home"></i> Retour au site</a>
                </li>
            </ul>
        </div>
    </nav>
</header>