{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row pull_low">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel radius">
                <h5 class="flow-text center izy-color-primary-font">Création de votre compte</h5>
                <div class="row"><br>
                    <p><center>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</center></p>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
