{% extends "FOSUserBundle::layout.html.twig" %}

{% set header="Création de votre compte" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row pull_low">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel radius">
                <div class="row"><br>
                    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
                    {% if targetUrl %}
                        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
