{% extends "FOSUserBundle::layout.html.twig" %}

{% set header = 'Changez votre mot de passe' %}

{% block fos_user_content %}
    <div class="row pull_low">
        <div class="col s12 m10 offset-m1">
            <div class="card-panel radius">
                <div class="row"><br>

                    {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}

                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
