{% block hint %}
    <div id="hint-navbar" class ="sidenav">
        <div class="izy-color-primary-font row">
            <div class="col">
                <h3 class="card-title center-align">Coup de pouce</h3>
                <p>{{ infos_page.info|raw }}</p>
            </div>
        </div>
    </div>
{% endblock hint %}