{% extends "::Backend/base.html.twig" %}

{% block content %}
    <h1>ChargeStaffType creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('back_chargestafftype_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
